body {
    font-size: 16px;
}

.article-container {
    max-width: 900px;
}

.home-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.article-banner {
    display: block;
    margin: auto;
    height: auto;
}

.archive-article .archive-article-thumbnail {
    opacity: 1;
    float: left;
    padding-right: 30px;
    margin-left: -94px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.archive-article .archive-article-thumbnail .thumbnail {
    width: 100px;
    height: 100px;
    display: block;
    position: relative;
    overflow: hidden;
    padding: 10px 0 10px 94px;
}
.archive-article .archive-article-thumbnail .thumbnail span {
    width: 100%;
    height: 100%;
    display: block;
}
.archive-article .archive-article-thumbnail .thumbnail .thumbnail-image {
    width: 90px;
    height: 90px;
    position: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
}
.archive-article .archive-article-thumbnail .thumbnail .thumbnail-none {
    background-image: url("images/thumb-default-small.png");
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}
